<link rel="stylesheet" id="silktide-consent-manager-css" href="{{ "assets/css/silktide-consent-manager.css" | relative_url }}">
<script src="{{ "assets/js/silktide-consent-manager.js" | relative_url }}"></script>
<script>
silktideCookieBannerManager.updateCookieBannerConfig({
  background: {
    showBackground: false
  },
  cookieIcon: {
    position: "bottomLeft"
  },
  cookieTypes: [
    {
      id: "necessary",
      name: "Necessary",
      description: "<p>These cookies are required for the basic functionality of this website itself, such as remembering your cookie preferences. They cannot be switched off.</p>",
      required: true,
      onAccept: function() {
        console.log('Add logic for the required Necessary here');
      }
    },
    {
      id: "analytics",
      name: "Analytics",
      description: "<p>These cookies help me improve this site by tracking which pages are most popular and how visitors move around this site.</p>",
      required: false,
      onAccept: function() {
        gtag('consent', 'update', {
          analytics_storage: 'granted',
        });
        dataLayer.push({
          'event': 'consent_accepted_analytics',
        });
      },
      onReject: function() {
        gtag('consent', 'update', {
          analytics_storage: 'denied',
        });
      }
    }
  ],
  text: {
    banner: {
      description: "<p>We use cookies on our site to enhance your user experience, provide personalized content, and analyze our traffic. <a href=\"/cookie-policy\" target=\"_blank\">Cookie Policy.</a></p>",
      acceptAllButtonText: "Accept all",
      acceptAllButtonAccessibleLabel: "Accept all cookies",
      rejectNonEssentialButtonText: "Reject non-essential",
      rejectNonEssentialButtonAccessibleLabel: "Reject non-essential",
      preferencesButtonText: "Preferences",
      preferencesButtonAccessibleLabel: "Toggle preferences"
    },
    preferences: {
      title: "Customize your cookie preferences",
      description: "<p>I respect your right to privacy. You can choose not to allow some types of cookies. Your cookie preferences will apply across my website.</p>",
      creditLinkText: "This cookie banner was made with Silktide.",
      creditLinkAccessibleLabel: "This cookie banner was made with Silktide."
    }
  }
});
</script>
