<h1 class="center">2D Desmos graphs</h1>
<br>
<div class="grid">
  <div>{% include desmos/2d/orange_cat.html %}</div>
  <div>{% include desmos/2d/pizza.html %}</div>
  <div>{% include desmos/2d/watermelon.html %}</div>
  <div>{% include desmos/2d/loading_bar.html %}</div>
  <div>{% include desmos/2d/diamond.html %}</div>
  <div>{% include desmos/2d/google_chrome.html %}</div>
  <div>{% include desmos/2d/key.html %}</div>
  <div>{% include desmos/2d/music_note.html %}</div>
  <div>{% include desmos/2d/package.html %}</div>
  <div>{% include desmos/2d/rainbow.html %}</div>
  <div>{% include desmos/2d/rocket.html %}</div>
  <div>{% include desmos/2d/taco.html %}</div>
</div>

{% include desmos/organize.html %}
